# Dependencies
node_modules/
.pnpm-store/

# Builds
dist/
build/
.next/
out/
coverage/
*.tsbuildinfo

# Env / secrets
.env
.env.local
.env.*.local
!.env.example

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# Prisma
apps/api/prisma/*.db
apps/api/prisma/*.db-journal

# Local storage uploads
apps/api/storage/
apps/api/uploads/
.tmp/
tmp/

# Foundry
packages/contracts/cache/
packages/contracts/out/
packages/contracts/broadcast/
packages/contracts/lib/

# Turbo
.turbo/

# Test / misc
*.pem
.nyc_output/
